button {
    margin: 20px;
    margin-top: 50px;
    
}

h1, h2{
    text-align: center;
}

.buttons{
    display:flex;
    justify-content: center;
}

div, p{
    display: flex;
    justify-content: center;
}



